APScheduler==3.6.3
billiard==4.1.0
Django==4.2
requests==2.31.0
bs4==0.0.1
beautifulsoup4==4.12.2
celery[redis]
redis
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-celerybeat-status==0.0.10
django-admin-list-filter-dropdown==1.0.2
django-celerybeat-status==0.0.10
django-cron==0.6.0
django-environ==0.4.5
django-timezone-field==6.0
django-json-widget==1.1.1
django-mptt==0.14.0
ipython==8.8.0
kombu[redis]
uWSGI==2.0.21
psycopg2==2.9.6
psycopg2-binary==2.9.3
python-crontab==2.7.1
python-telegram-bot==13.15
telegram-django-bot==1.1.0
async-timeout
fake-useragent